SERVICE_NAME=shopping-list-manager-service
PORT=8000
AUTH_SERVICE_URL=http://auth-service:8000
IO_SERVICE_URL=http://io-service:8000
ITEMS_SERVICE_URL=http://items-service:8000
BUDGET_SERVICE_URL=http://budget-service:8000
NOTIFICATION_SERVICE_URL=http://notification-service:8000
