SERVICE_NAME=shopping-list-manager-service
PORT=8000
AUTH_SERVICE_URL=http://shopping-auth-service:8000
IO_SERVICE_URL=http://shopping-io-service:8000
ITEMS_SERVICE_URL=http://shopping-items-service:8000
BUDGET_SERVICE_URL=http://shopping-budget-service:8000
NOTIFICATION_SERVICE_URL=http://shopping-notification-service:8000
